<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="static\favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel GTD</title>

    <!-- Enlace a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />


</head>

<body>
    <nav class="navbar navbar-expand-lg navigation-gtd-movil only-mobile">
        <div class="barra_navegacion__logo desktop_footer">
            <a href="#">
                <img alt="GTD Chile" data-src="static\layout_set_logo.png" class=" lazyloaded"
                    src="static\layout_set_logo.png">
            </a>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center mb-4">test</h1>

        <div class="row">
            <!-- Ejemplo para la primera tarjeta, repite el mismo patrón para las demás tarjetas -->
            <div class="col-lg-5 col-md-6 mb-4">
                <div class="card mb-4">
                    <div class="card-header" style="background-color: #eda215;"></div>
                    <div class="card-body text-center">
                        <div class="icon-title">
                            <img src="static\icons8-sort-by-modified-date-50.png" alt="Tu Icono" class="card-icon">
                            <h4 class="card-title">Limpiar Excels</h4>
                        </div>
                        <div class="card-content">
                            <p class="card-description"> Elimine Incongruensias</p>
                            <a href="/limpiar" class="btn btn-yellow">Ir</a>
                        </div>
                    </div>
                </div>
            </div>


            
        <!-- Ejemplo para la tarjeta actual -->
        <div class="col-lg-5 col-md-6 mb-4">
            <div class="card mb-4">
                <div class="card-header card-header-consolidar"></div>
                <div class="card-body text-center">
                    <div class="icon-title">
                        <img src="static\icons8-clear-64.png" alt="Tu Icono" class="card-icon">
                        <h4 class="card-title">Consolidar Información</h4>
                    </div>
                    <div class="card-content">
                        <p class="card-description">Consolide sus archivos</p>
                        <a href="/consolidar" class="btn btn-aqua">Ir</a>
                    </div>
                </div>
            </div>
        </div>

            
        <!-- Ejemplo para la tarjeta actual -->
        <div class="col-lg-5 col-md-6 mb-4">
            <div class="card mb-4">
                <div class="card-header card-header-csv"></div>
                <div class="card-body text-center">
                    <div class="icon-title">
                        <img src="static\icons8-clear-64.png" alt="Tu Icono" class="card-icon">
                        <h4 class="card-title">Limpiar archivos CSV</h4>
                    </div>
                    <div class="card-content">
                        <p class="card-description">Limpieza masiva</p>
                        <a href="/detalles" class="btn btn-blue">Ir</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Ejemplo para la tarjeta actual -->
        <div class="col-lg-5 col-md-6 mb-4">
            <div class="card mb-4">
                <div class="card-header card-header-pdf"></div>
                <div class="card-body text-center">
                    <div class="icon-title">
                        <img src="static\icons8-pdf-50.png" alt="Tu Icono" class="card-icon">
                        <h4 class="card-title">Búsqueda y descarga PDF</h4>
                    </div>
                    <div class="card-content">
                        <p class="card-description">Obtención y Descarga.</p>
                        <a href="/buscar" class="btn btn-red">Ir</a>
                    </div>
                </div>
            </div>
        </div>

            
        </div>
    </div>

    <!-- Enlace a Bootstrap JS y Popper.js (necesarios para algunas funciones de Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

<div class="footer">
    <p>&copy; 2024 Procesador de Archivos Excel</p>
</div>

</html>
