<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="static\favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel GTD</title>

    <!-- Enlace a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="container text-center">
    <h1>Manipulación de Excel</h1>
    <a href="/limpiar"><button class="btn btn-primary">Limpiar Excels Mayorista</button></a>
    <a href="/consolidar"><button class="btn btn-success">Consolidar Excels</button></a>
    <a href="/detalles"><button class="btn btn-danger">Limpiar Excels Detalles</button></a>

    <!-- Enlace a Bootstrap JS y Popper.js (necesarios para algunas funciones de Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
